body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

.card {
    background: rgba(255,255,255,0.15);
    padding: 15px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}

#contador {
    font-size: 22px;
    margin-bottom: 20px;
}
h1 {
    font-size: 30px;
}#galeria {
    margin-top: 20px;
}
.video {
    width: 95%;
    max-width: 500px;
    max-height: 50vh;
    border-radius: 15px;
}
h2 {
    margin: 5px 0;
}

p {
    margin: 5px 0;
}